APP_ENV=production
PORT=80

# 운영 인증 DB
KARAZHAN_AUTH_DSN=root:password@tcp(127.0.0.1:3306)/acore_auth

# 운영 캐릭터 DB
KARAZHAN_CHARACTERS_DSN=root:password@tcp(127.0.0.1:3306)/acore_characters

# 운영 웹/업데이트 DB
KARAZHAN_UPDATE_DSN=root:password@tcp(127.0.0.1:3306)/update

# 운영 월드 DB
KARAZHAN_WORLD_DSN=root:password@tcp(127.0.0.1:3306)/acore_world
